@{
    ViewBag.Title = "退配上架";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
    string ToDay = DateTime.Today.ToString("yyyy-MM-dd");
}
@model  TJ.WMS.RF.UI.Models.TPShelves
<script src="@Url.Content("~/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
<div class="box">
    <input id="hdPaperNO" type="hidden" value="@Model.PaperNO" />
    <input id="hdCaseUnit" type="hidden" value="" />
    <input id="hdShelfLife" type="hidden" value="" />
    <input id="hdToDay" type="hidden" value="@ToDay" />
    <input id="hdBackCaseProductDate" type="hidden" value="1"/>
    <input id="hdPastBarcode" type="hidden" value="" />
    <input id="hdReceiptTypeID" name="hdReceiptTypeID" type="hidden" value="@Model.ReceiptTypeID" />
    <input id="hdBatchTypeID" name="hdBatchTypeID" type="hidden" value="@Model.BatchTypeID" />

    <table cellspacing="1" cellpadding="0">
        <tr>
            <td colspan="2" style="background-color:#c8e4fc; text-align:center;">@Model.PaperNO</td>
        </tr>
        <tr>
            <td colspan="2" style="background-color:#c8e4fc; text-align:center;">@Model.Storeinfo</td>
        </tr>
        @*<tr>
            <td colspan="2" id="GoodsName" style="background-color:#c8e4fc; text-align:center;">
                <span id="lblGoodsName"></span>
            </td>
        </tr>*@
        <tr>
            <td colspan="2" id="DcacptQty" style="background-color:#c8e4fc; text-align:center;">
                数量：<span id="lblShipQty"></span>  己收：<span id="lblSumQty"></span>
            </td>
        </tr>
        <tr>
            <td class="title">商品条码</td>
            <td class="content"><input type="text" name="txtBarcode" id="txtBarcode" class="tdInput" /></td>
        </tr>
        <tr>
            <td class="title">托盘编码</td>
            <td class="content"><input type="text" name="txtTrayNO" id="txtTrayNO" class="tdInput" /></td>
        </tr>
        <tr>
            <td class="title">商品名称</td>
            <td class="content" id="lblGoodsDesc"></td>
        </tr>
        <tr>
            <td class="title">商品单位</td>
            <td class="content" id="lblStdUnit"></td>
        </tr>
        <tr>
            <td class="title" id="lblProductDate">生产日期</td>
            <!--onclick="WdatePicker()" -->
            <td class="content"><input type="text" name="txtProductDate" id="txtProductDate" class="tdInput" /></td>
        </tr>
        <tr>
            <td class="title" id="lblEffectiveDate">到期日期</td>
            <td class="content"><input type="text" name="txtEffectiveDate" id="txtEffectiveDate" class="tdInput" /></td>
        </tr>
        <tr>
            <td class="title">收货数量</td>
            <td class="content">
                <input id="txtQty" name="txtQty" type="text" style="ime-mode:disabled"
                       onKeypress="return (/[\d.]/.test(String.fromCharCode(event.keyCode)))"
                       onafterpaste="this.value=this.value.replace(/\D/g,'')" value="" />
            </td>
        </tr>
        <tr>
            <td class="title">目标储位</td>
            <td class="content">
                <input id="txtLocationNO" name="txtLocationNO" type="text" class="tdInput" />
            </td>
        </tr>
    </table>
</div>
<div class="btn">
    <div class="btn"><input type="button" value="保存(F8)" id="btnSave" onclick="Save()" /> <input id="btnOk" type="button" value="完成(F9)" /></div>
   
</div>
<div class="goodsquery">
    <table id="tbMainQuery">
        <thead>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script type="text/javascript">
    var isComplete = false;
    $(document).ready(function () {
        $("#txtTrayNO").attr("disabled", "disabled");
        $("#txtProductDate").attr("disabled", "disabled");
        $("#txtEffectiveDate").attr("disabled", "disabled");
        $("#txtQty").attr("disabled", "disabled");
        $("#txtLocationNO").attr("disabled", "disabled");
        $(document).keydown(function (e) {
            var elem = e.srcElement || e.target;
            if (e.which == 119)//F8
            {
                Save();
            }
            else if (e.which == 120)//F9
            {
                $("#btnOver").click();
            }
        });
        //===================商品条码=================================

        $("#txtBarcode").keypress(function (e) {
            if (e.which == 13) {
                // window.focus();
                ValidateBarcode();
            }
        }).blur();

        // ======================托盘编码=====================================
        $("#txtTrayNO").keypress(function (e) {
            if (e.which == 13) {
                ValidateTrayNO();
            }
        }).blur();
        //=======================生产日期==================
        $("#txtProductDate").keypress(function (e) {
            if (e.which == 13) {
                ValidateProductDate();
            }
        }).blur();
     
        //=============================================
        $("#txtEffectiveDate").keypress(function (e) {
            if (e.which == 13) {
                ValidateEffectiveDate();
            }
        }).blur();
        //============================================
        $("#txtLocationNO").keypress(function (e) {
            if (e.which == 13) {
                //ValidateLocationNO();
                Save();
            }
        }).blur();
        //==============================================
        $("#txtQty").keypress(function (e) {
            if (e.which == 13) {
                ValidateQty();
            }
        }).blur();
        $("#btnSave").click(Save);
        $("#btnOk").click(Over);
        $("#txtBarcode").focus();
    });

    //================商品条码验证==================
    function ValidateBarcode() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");
        $("#lblGoodsDesc").text("");
        $("#lblShipQty").text("");
        $("#lblSumQty").text("");
        $("#lblStdUnit").text("");
        $("#txtProductDate").val("");
        $("#txtEffectiveDate").val("");
        $("#txtTrayNO").val("");
        $("#txtLocationNO").val("");
        $("#txtTrayNO").attr("disabled", "disabled");
        $("#txtLocationNO").attr("disabled", "disabled");
        $("#txtProductDate").attr("disabled", "disabled");
        $("#txtProductDate").attr("disabled", "disabled");
        $("#txtQty").attr("disabled", "disabled");
        $("#tbMainQuery thead").html("");
        $("#tbMainQuery tbody").html("");
        var url = "/TPShelves/ValidateBarcode";
        var params = {
            "model.PaperNO": $("#hdPaperNO").val(),
            "model.TrayNO": $("#txtTrayNO").val(),
            "model.Barcode": $("#txtBarcode").val(),
            "model.ReceiptTypeID": $("#hdReceiptTypeID").val(),
            "model.BatchTypeID": $("#hdBatchTypeID").val()
        };
        $.post(url, params, function (data, txtStatus) {
            if (data != "") {
                var dataObj;
                try {
                    dataObj = eval(data);
                    if (dataObj == undefined) {
                        $("#Loading").css("visibility", "hidden");
                        $("#Msg").html(data);
                        $("#Msg").css("visibility", "visible");
                        $("#txtBarcode").select();
                        return false;
                    }
                    else {
                        if (dataObj.length == 0) { return false; }
                        for (var index in dataObj) {
                            //$("#hdTrayNo").val(dataObj[index].TrayNO);
                            //$("#lblTrayNo").text(dataObj[index].TrayNO);
                            $("#lblGoodsDesc").html(dataObj[index].GoodsDesc);
                            $("#lblShipQty").html(dataObj[index].ShipQty);
                            $("#lblSumQty").html(dataObj[index].SumQty);
                            $("#lblStdUnit").html(dataObj[index].Unit);
                            $("#hdShelfLife").val(dataObj[index].ShelfLife);
                        }
                        QryGoodsStock();
                        $("#Msg").html("");
                        $("#Msg").css("visibility", "hidden");
                        $("#Loading").css("visibility", "hidden");
                        $("#txtTrayNO").attr("disabled", "");
                        $("#txtTrayNO").select();
                       // $("#txtProductDate").attr("disabled", "");
                       // $("#txtEffectiveDate").attr("disabled", "");
                    }
                }
                catch (exception) {
                    $("#Msg").html(data);
                    $("#Msg").css("visibility", "visible");
                    $("#Loading").css("visibility", "hidden");
                    $("#txtBarcode").select();
                }
            }
            else {
                $("#Msg").html("");
                $("#Msg").css("visibility", "hidden");
                $("#Loading").css("visibility", "hidden");
            }
        });
    }
    //========================
    function ValidateTrayNO() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");
        var url = "/TPShelves/ValidateTrayNO";
        var params = {
            "model.PaperNO": $("#hdPaperNO").val(),
            "model.Barcode": $("#txtBarcode").val(),
            //"model.Qty": $("#txtQty").val(),
            "model.TrayNO": $("#txtTrayNO").val()
        };
        $.post(url, params, function (data, txtStatus) {
            if (data != "") {
                var dataObj;
                try {
                    dataObj = eval(data);
                    if (dataObj == undefined) {
                        $("#Msg").html(data);
                        $("#Msg").css("visibility", "visible");
                        $("#Loading").css("visibility", "hidden");
                        $("#txtTrayNO").select();
                    }
                    else {
                        if (dataObj.length == 0) { return false; }
                        for (var index in dataObj) {
                            //$("#hdTrayNo").val(dataObj[index].TrayNO);
                            //$("#lblTrayNo").text(dataObj[index].TrayNO);
                            $("#lblGoodsDesc").html(dataObj[index].GoodsDesc);
                            $("#lblShipQty").html(dataObj[index].ShipQty);
                            $("#lblSumQty").html(dataObj[index].SumQty);
                            $("#lblStdUnit").html(dataObj[index].Unit);
                            $("#hdShelfLife").val(dataObj[index].ShelfLife);
                            $("#txtProductDate").val(dataObj[index].ProductDate);
                            $("#txtEffectiveDate").val(dataObj[index].EffectiveDate);
                            $("#txtLocationNO").val(dataObj[index].LocationNO);
                            $("#txtQty").val(dataObj[index].Qty);
                        }
                        $("#Msg").html("");
                        $("#Msg").css("visibility", "hidden");
                        $("#Loading").css("visibility", "hidden");
                        if (dataObj[0].ShelfLife == "0") {
                            $("#txtProductDate").val($("#hdToDay").val());
                        }
                        $("#txtProductDate").attr("disabled", "");
                        $("#txtProductDate").select();
                        // $("#txtProductDate").attr("disabled", "");
                        // $("#txtEffectiveDate").attr("disabled", "");
                    }
                }
                catch (exception) {
                    $("#Msg").html(data);
                    $("#Msg").css("visibility", "visible");
                    $("#Loading").css("visibility", "hidden");
                    $("#txtTrayNO").select();
                }
            }
            else {
                $("#Msg").html("");
                $("#Msg").css("visibility", "hidden");
                $("#Loading").css("visibility", "hidden");
                $("#txtTrayNO").select();
            }
            
        })
    }
    //============================================
    function ValidateProductDate() {
        if ($("#txtProductDate").val() == "") {
            if ($("#hdShelfLife").val() != "0") {
                $("#txtEffectiveDate").attr("disabled", "");
                $("#txtEffectiveDate").focus();
                $("#txtEffectiveDate").select();
            } else {
                $("#txtEffectiveDate").attr("disabled", "disabled");
                $("#txtCaseQty").focus();
            }
            return;
        }
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden");
        $("#Msg").html("");
        var dt = $("#txtProductDate").val();
        dt = MyFormatDate(dt);
        $("#txtProductDate").val(dt);
        if ($("#Msg").html() != "") {
            $("#Loading").css("visibility", "hidden");
            $("#txtProductDate").focus();
            $("#txtProductDate").select();
            return;
        }
        var jqobj = $("#txtProductDate");
        var url = "/TPShelves/ValidateProductDate";
        var params = {
            "ProductDate": $("#txtProductDate").val(),
            "time": $("#hdShelfLife").val()
        }
        $.post(url, params, function (data, textStatus) {
            if (data != "") {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "visible");
                $("#Msg").html(data);
                $("#txtProductDate").focus();
                $("#txtProductDate").select();
                return false;
            }
            else {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "hidden");
                $("#Msg").html("");
                //如果不考虑保质期
                if ($("#hdShelfLife").val() == "0") {
                    $("#txtEffectiveDate").attr("disabled", "disabled");
                    $("#txtQty").attr("disabled", "");
                    $("#txtQty").focus();
                    $("#txtQty").select();

                } else {
                    var date = StrToDate($("#txtProductDate").val());
                    var day = parseInt($("#hdShelfLife").val());
                    $("#txtEffectiveDate").val(AddDays(date, day));
                    $("#txtEffectiveDate").attr("disabled", "");
                    $("#txtEffectiveDate").focus();
                    $("#txtEffectiveDate").select();
                }
                //alert(day);
                return true;
            }
        }
);
    }
    //=======================================
    function ValidateEffectiveDate() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").html("");
        $("#Msg").css("visibility", "hidden");
        var dt = $("#txtEffectiveDate").val();
        dt = MyFormatDate(dt);
        $("#txtEffectiveDate").val(dt);
        if ($("#Msg").html() != "") {
            $("#Loading").css("visibility", "hidden");
            $("#txtEffectiveDate").focus();
            $("#txtEffectiveDate").select();
            return;
        }
        if ($("#txtEffectiveDate").val() != "") {
            var date = StrToDate($("#txtEffectiveDate").val());
            var day = -parseInt($("#hdShelfLife").val());
            $("#txtProductDate").val(AddDays(date, day));
        }
        ////////////////////////////////////////////
        //$("#txtEffectiveDate").text(formatDate(StrToDate($("#txtEffectiveDate").val())));
        var url = "/TPShelves/ValidateEffectiveDate";
        var params = {
            "ProductDate": $("#txtProductDate").val(),
            "EffectiveDate": $("#txtEffectiveDate").val(),
            "shelfLife": $("#hdShelfLife").val()
        };
        $.post(url, params, function (data, textStatus) {
            if (data != "") {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").html(data);
                $("#Msg").css("visibility", "visible");
                //$("#txtEffectiveDate").focus();
                $("#txtEffectiveDate").select();
                return false;
            }
            else {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").html("");
                $("#Msg").css("visibility", "hidden");
                $("#txtQty").attr("disabled", "");
                $("#txtQty").focus();
                $("#txtQty").select();
                //alert(day);
                return true;
            }
        }
);
    }
    //=============================================
    function ValidateLocationNO() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");
        var url = "/TPShelves/ValidateLocationNO";
        var params = {
            "model.PaperNO": $("#hdPaperNO").val(),
            "model.TrayNO": $("#txtTrayNO").val(),
            "model.Barcode": $("#txtBarcode").val(),
            "model.ReceiptTypeID": $("#hdReceiptTypeID").val(),
            "model.BatchTypeID": $("#hdBatchTypeID").val(),
            "model.LocationNO": $("#txtLocationNO").val()
        };
        $.post(url, params, function (data, txtStatus) {
            if (data != "") {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").html(data);
                $("#Msg").css("visibility", "visible");
                $("#txtLocationNO").select();
            }
            else {
                $("#Msg").html("");
                $("#Msg").css("visibility", "hidden");
                $("#Loading").css("visibility", "hidden");
                $("#txtQty").attr("disabled", "");
                $("#txtQty").focus();
                $("#txtQty").select();
            }
        });
    }
    //=============================================
    function QryGoodsStock() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");
        $("#tbMainQuery thead").html("");
        $("#tbMainQuery tbody").html("");
        var url = "/TPShelves/QryGoodsStock";
        var params = {
            "model.PaperNO": $("#hdPaperNO").val(),
            "model.Barcode": $("#txtBarcode").val(),
            "model.ProductDate": $("#txtProductDate").val()
        };
        $.post(url, params, function (data, txtStatus) {
            if (data != "") {
                var dataObj;
                try {
                    dataObj = eval(data);
                    if (dataObj == undefined) {
                        $("#Loading").css("visibility", "hidden");
                        $("#Msg").html(data);
                        $("#Msg").css("visibility", "visible");
                        $("#txtBarcode").select();
                        return false;
                    }
                    else {
                        trString = "<tr>"
                        trString += "<td>储位编码</td>";
                        trString += "<td>生产日期</td>";
                        trString += "<td>托盘号</td>";
                        trString += "</tr>"
                        $("#tbMainQuery thead").append(trString);
                        for (var index in dataObj) {
                            trString = "<tr>"
                            trString += "<td>" + dataObj[index]['LocationNO'] + "</td>";
                            trString += "<td>" + dataObj[index]['ProductDate'] + "</td>";
                            trString += "<td>" + dataObj[index]['TrayNO'] + "</td>";
                            trString += "</tr>"
                            if (trString != "<tr></tr>")
                                $("#tbMainQuery tbody").append(trString);
                        }
                        $("#Loading").css("visibility", "hidden");
                    }
                }
                catch (exception) {
                    $("#Msg").html(data);
                    $("#Msg").css("visibility", "visible");
                    $("#Loading").css("visibility", "hidden");
                    $("#txtBarcode").select();
                }
            }
            else {
                $("#Loading").css("visibility", "hidden");
            }
        });
    }
    //=============================================
    function ValidateQty() {
        if (isNaN($("#txtQty").val())) {
            $("#Msg").html("数量必需输入为数值！");
            $("#Msg").css("visibility", "visible");
            $("#Loading").css("visibility", "hidden");
            $("#txtQty").focus();
            $("#txtQty").select();
            return;
        }
        if ($("#txtQty").val().split(".").length >= 2 && $("#txtQty").val().split(".")[1].length > 3) {
            $("#Msg").html("输入小数不能超过3位！");
            $("#Msg").css("visibility", "visible");
            $("#Loading").css("visibility", "hidden");
            $("#txtQty").focus();
            $("#txtQty").select();
            return;
        }
        if ($("#hdReceiptTypeID").val() == "1") {
            if (parseInt($("#lblShipQty").text()) < parseInt($("#txtQty").val())) {
                $("#Msg").html("收货数不能大于退配数！");
                $("#Msg").css("visibility", "visible");
                $("#Loading").css("visibility", "hidden");
                return;
            }
        }
        
        $("#txtLocationNO").attr("disabled", "");
        $("#txtLocationNO").focus();
        $("#txtLocationNO").select();
    };
    //=============================================
    function Save() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");

        if (isNaN($("#txtQty").val())) {
            $("#Msg").html("数量必需输入为数值！");
            $("#Msg").css("visibility", "visible");
            $("#Loading").css("visibility", "hidden");
            $("#txtQty").focus();
            $("#txtQty").select();
            return;
        }
        if ($("#txtQty").val().split(".").length >= 2 && $("#txtQty").val().split(".")[1].length > 3) {
            $("#Msg").html("输入小数不能超过3位！");
            $("#Msg").css("visibility", "visible");
            $("#Loading").css("visibility", "hidden");
            $("#txtQty").focus();
            $("#txtQty").select();
            return;
        }
        var url = "/TPShelves/Save";
        var params = {
            "model.TrayNO": $("#txtTrayNO").val(),
            "model.Barcode": $("#txtBarcode").val(),
            "model.PaperNO": $("#hdPaperNO").val(),
            "model.EffectiveDate": $("#txtEffectiveDate").val(),
            "model.ProductDate": $("#txtProductDate").val(),
            "model.Qty": $("#txtQty").val(),
            "model.ShelfLife": $("#hdShelfLife").val(),
            "model.ReceiptTypeID": $("#hdReceiptTypeID").val(),
            "model.BatchTypeID": $("#hdBatchTypeID").val(),
            "model.LocationNO": $("#txtLocationNO").val()

        };
        $.post(url, params, function (data, textStatus) {
            if (data != "") {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").html(data);
                $("#Msg").css("visibility", "visible");
                $("#txtLocationNO").focus();
                $("#txtLocationNO").select();
            }
            else {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").html("操作成功！");
                $("#Msg").css("visibility", "visible");

                //清空数据
                $("#txtBarcode").val("")
                $("#lblGoodsDesc").text("");
                $("#lblShipQty").text("");
                $("#lblSumQty").text("");
                $("#lblStdUnit").text("");
                $("#txtProductDate").val("");
                $("#txtEffectiveDate").val("");
                $("#txtTrayNO").val("");
                $("#txtLocationNO").val("");
                $("#txtQty").val("");
                $("#tbMainQuery thead").html("");
                $("#tbMainQuery tbody").html("");
                //20140726

                $("#txtBarcode").focus();
                $("#txtTrayNO").attr("disabled", "disabled");
                $("#txtProductDate").attr("disabled", "disabled");
                $("#txtEffectiveDate").attr("disabled", "disabled");
                $("#txtQty").attr("disabled", "disabled");
                $("#txtLocationNO").attr("disabled", "disabled");
                $("#txtBarcode").focus();
            }
        }
    );
    }
    //============================
    function Over() {
        var url = "/TPShelves/Over";
        var params = {
            "model.PaperNO": $("#hdPaperNO").val()
        };
        $.post(url, params, function (data, txtStatus) {
            if (data == "") {
                window.location.href = '/TPShelves';
            }
            else {
                $("#Msg").html(data);
                $("#Msg").css("visibility", "visible");
            }
        });
    }
    //======================================
    function formatDate(d) {
        var month = d.getMonth() + 1;
        var day = d.getDate();
        if (month < 10) {
            month = "0" + month;
        }
        if (day < 10) {
            day = "0" + day;
        }
        return d.getFullYear() + "-" + month + "-" + day;
    }
    //============字符串格式化成时间类型===========
    function MyFormatDate(str) {
        try {
            $("#Msg").css("visibility", "hidden");
            $("#Msg").html("");
            var str1 = str
            if (str == "") return;
            if (str.length == 8) {
                str = str.substr(0, 4) + "-" + str.substr(4, 2) + "-" + str.substr(6, 2);

                if (!isDateString(str)) {
                    $("#Msg").html("日期格式错误");
                    $("#Msg").css("visibility", "visible");
                    return str1;
                } else
                    return str;
            }
            else {
                if (!isDateString(str)) {
                    $("#Msg").html("日期格式错误");
                    $("#Msg").css("visibility", "visible");
                }
                return str1;
            }

        }
        catch (exception) {
            $("#Msg").html("日期格式错误");
            $("#Msg").css("visibility", "visible");
            return str1;
        }
    }

    function isDateString(sDate) {
        var iaMonthDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
        var iaDate = new Array(3)
        var year, month, day

        if (arguments.length != 1) return false
        iaDate = sDate.toString().split("-")
        if (iaDate.length != 3) return false
        if (iaDate[1].length > 2 || iaDate[2].length > 2) return false

        year = parseFloat(iaDate[0])
        month = parseFloat(iaDate[1])
        day = parseFloat(iaDate[2])

        if (year < 1900 || year > 2100) return false
        if (((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0)) iaMonthDays[1] = 29;
        if (month < 1 || month > 12) return false
        if (day < 1 || day > iaMonthDays[month - 1]) return false
        return true
    }

    function StrToDate(str) {

        str = str.replace(/-/g, "/");
        var date = new Date(str);
        return date;
    }
    // 增加天
    function AddDays(date, value) {
        date.setDate(date.getDate() + value);
        return formatDate(date);
    }
</script>