<!DOCTYPE html>
<html>
<head>
    @*<meta charset="UTF-8">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>@Session["CompanyTitle"]</title>

    <link href="@Url.Content("~/Content/Layout2.css")" rel="stylesheet" type="text/css" />

    <!--[if lte IE 8]>
       <link href="@Url.Content("~/Content/Layout1.css")" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
</head>

<body>
<div id="header">
   @if (Session["User_ID"] == null  )
{ 
    <h3 class="title">@Session["CompanyTitle"]</h3>
}
else
{ 
    if(Session["User_Name"]!=null)
    {
       <h3>@ViewBag.Title</h3><a href="javascript:if(confirm('您确定要退出系统操作吗？')){window.location.href('/Home');}" target="_self">退出</a><span id="loginUser">@Session["User_Name"]  </span>
    }
}
</div>
<div id="Msg" class="errorMsg"></div>
 @RenderBody()
 <div id="footer"></div> 
</body>
</html>
